body{
    background: #E6BF83;
    height: 100vh;
    margin: 0px;
}

.container
{
    margin: 30px 100px;
}

.stick
{
    height: 600px;
    width: 20px;
    background: black;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    position: fixed;
    z-index: 1;
}

.flag-container
{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 300px;
    clip-path: polygon(32% 6%, 70% 0%,);
}